ANTHROPIC_API_KEY=sk-3W8C7r25Bl4dO_FUHO2KqQ
ANTHROPIC_BASE_URL=http://10.10.19.109:4000
GITHUB_TOKEN=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
ADO_TOKEN=1n55yiljo8Vlphfs3sIHhkj2mAAJVFavmXxE7WKkK4OCkfHbN4XPJQQJ99CFACAAAAAvS3lbAAASAZDO4dGG
ADO_ORG=anugal
ADO_PROJECT=CloudDevops Team
TEAMS_WEBHOOK_URL="https://default0d6f58e0503f4f6bbce8b55d068e13.bc.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/30a8042c570941159f1a7ae0b0dc11dd/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=NGKN28e3GdyerQwVOZQMJD7DyCniWXJlmb-Z4iwpR4A
SMTP_HOST=smtp.office365.com
SMTP_USER=dheepanchakkaravarthi.s@businesscoresolutions.com
SMTP_PASS=wyxqstblbpfsxzxc
SMTP_TO=dheepanchakkaravarthi.s@businesscoresolutions.com
K8S_NAMESPACE=default
